In [70]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\user_k\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: requests in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (2.26.0)
Requirement already satisfied: certifi in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: urllib3 in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (1.26.7)
Requirement already satisfied: python-slugify in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user_k\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user_k\anaconda3\lib\site-packages (from requests->kaggle) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user_k\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\user_k\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)

In [71]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\user_k\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: requests in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (2.26.0)
Requirement already satisfied: tqdm in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (4.62.3)
Requirement already satisfied: six>=1.10 in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\user_k\anaconda3\lib\site-packages (from kaggle) (1.26.7)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user_k\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user_k\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user_k\anaconda3\lib\site-packages (from requests->kaggle) (3.2)
Requirement already satisfied: colorama in c:\users\user_k\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [72]:
import kaggle

In [73]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [80]:
dataset_name = 'zhijinzhai/loandata'

In [75]:
import os

In [81]:
path = os.path.join(os.path.expanduser('~'), 'Downloads', 'kaggle_dataset')
kaggle.api.dataset_download_files(dataset_name, unzip=True, path=path)

In [82]:
a=kaggle.api.dataset_download_files(dataset_name, unzip=True, path=path)

In [78]:
import pandas as pd

In [89]:
df=pd.read_csv(r"C:\Users\User_K\Downloads\kaggle_dataset\Loan payments data.csv")

In [90]:
df

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
...,...,...,...,...,...,...,...,...,...,...,...
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

In [91]:
df.columns

Index(['Loan_ID', 'loan_status', 'Principal', 'terms', 'effective_date',
       'due_date', 'paid_off_time', 'past_due_days', 'age', 'education',
       'Gender'],
      dtype='object')